html,body{
    background-color: #d8e2dc;
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden !important;
    margin: 0px !important;
    padding: 0px !important;
    scroll-padding-top: 50px;
    scroll-behavior: smooth;
}

*{
    text-decoration: none !important;
}

.home{
    position: relative;
    text-align: center;
}

.home img{
    width: 100%;
    z-index: 1;
}

.home h1{
    position: absolute; 
    letter-spacing: 50px;
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 100;  
}