html,body{
    background-color: #d8e2dc;
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* overflow-x: hidden !important; */
    margin: 0px !important;
    padding: 0px !important;
    scroll-padding-top: 50px;
    scroll-behavior: smooth;
}

*{
    text-decoration: none !important;
}

/* HOME PAGE */

.big{
    width: 100%;
    position: absolute;
    z-index: 1;
}

.small{
    width: 6%;
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 90%;
}


.big1{
    width: 100%;
    position: absolute;
    z-index: 1;
}

.small1{
    width: 6%;
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 90%;
}

/* WELCOME PAGE */

h1{
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin-top: 60px !important;
    padding-left: 137px;
    letter-spacing: 10px;
    color: #707070;
}

.welcome h3{
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -120px !important;
    font-size: 25px;
    padding-left: 287px;
    letter-spacing: 10px;
    margin-bottom: 70px;
    color: #707070;
}

.welcome .button1{
    padding-left: 137px;
    padding-top: 10px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    height: 130px;
    font-style: normal;
    background-color: #FEC5BB;
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 10px;
    color: #707070;

}

.welcome:hover .button1{
    background-color: #fcd5ce;
}

.welcome .button2{
    padding-left: 137px;
    padding-top: 10px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    height: 130px;
    font-style: normal;
    background-color: #FEC5BB;
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 10px;
    color: #707070;
}

.welcome:hover .button2{
    background-color: #fcd5ce;
}

.welcome .button3{
    padding-left: 137px;
    padding-top: 10px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    height: 130px;
    font-style: normal;
    background-color: #FEC5BB;
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 10px;
    color: #707070;
}

.welcome:hover .button3{
    background-color: #fcd5ce;
}

.go1{
    width: 6%;
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 90%;
}

.go2{
    width: 6%;
    position: absolute;
    z-index: 2;
    top: 55%;
    left: 90%;
}

.go3{
    width: 6%;
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 90%;
}

.small3{
    width: 6%;
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 8%;
}

.homebtn{
    width: 6%;
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 18%;
}

.songbtn{
    width: 6%;
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 28%;
}


.small4{
    width: 6%;
    position: absolute;
    z-index: 2;
    top: 90%;
    left: 91.5%;
}

.calendar iframe{
    z-index: 5;
    position: absolute;
    align-items: center;
    top: 29%;
    left: 10.5%;
}

.calendar h1{
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin-top: 60px !important;
    padding-left: 137px;
    letter-spacing: 10px;
    color: #707070;
    position: absolute;
    z-index: 5;
}

.calendar h3{
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 190px !important;
    font-size: 25px;
    padding-left: 287px;
    letter-spacing: 10px;
    margin-bottom: 70px;
    color: #707070;
    position: absolute;
    z-index: 5;
}

/* PODCAST PAGE */


.big3{
    width: 100%;
    position: absolute;
    z-index: 1;
}

.homebtn1{
    width: 6%;
    position: absolute;
    margin-bottom: 10%;
    padding-bottom: 3%;
    z-index: 2;
    top: 155%;
    left: 18%;
}

.backbtn{
    width: 6%;
    position: absolute;
    margin-bottom: 10%;
    padding-bottom: 3%;
    z-index: 2;
    top: 155%;
    left: 8%;
}

.small6{
    width: 6%;
    position: absolute;
    margin-bottom: 10%;
    padding-bottom: 3%;
    z-index: 2;
    top: 155%;
    left: 28%;
}

.podcast h1{
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin-top: 60px !important;
    padding-left: 137px;
    letter-spacing: 10px;
    color: #707070;
    position: absolute;
    z-index: 5;
}

.podcast h3{
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 190px !important;
    font-size: 25px;
    padding-left: 287px;
    letter-spacing: 10px;
    margin-bottom: 70px;
    color: #707070;
    position: absolute;
    z-index: 5;
}

.podcasts .one{
    top: 30%;
    left: 13%;
    position: absolute;
    z-index: 8;
}

.podcasts .two{
    top: 50%;
    left: 13%;
    position: absolute;
    z-index: 8;
}

.podcasts .three{
    top: 70%;
    left: 13%;
    position: absolute;
    z-index: 8;
}

.podcasts .four{
    top: 90%;
    left: 13%;
    position: absolute;
    z-index: 8;
}

.podcasts .five{
    top: 110%;
    left: 13%;
    position: absolute;
    z-index: 8;
}

.podcasts .six{
    top: 130%;
    left: 13%;
    position: absolute;
    z-index: 8;
}

/* AFFIRMATONS PAGE */


.big4{
    width: 100%;
    position: absolute;
    z-index: 1;
}

.homebtn2{
    width: 6%;
    position: absolute;
    margin-bottom: 10%;
    padding-bottom: 3%;
    z-index: 2;
    top: 91%;
    left: 18%;
}

.backbtn1{
    width: 6%;
    position: absolute;
    margin-bottom: 10%;
    padding-bottom: 3%;
    z-index: 2;
    top: 91%;
    left: 8%;
}

.small7{
    width: 6%;
    position: absolute;
    margin-bottom: 10%;
    padding-bottom: 3%;
    z-index: 2;
    top: 91%;
    left: 28%;
}

.aff h1{
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin-top: 60px !important;
    padding-left: 137px;
    letter-spacing: 10px;
    color: #707070;
    position: absolute;
    z-index: 5;
}

/* .txt{
    width: 500px;
    z-index: 5;
    position: absolute;
} */

.aff h3{
    width: 800px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 360px !important;
    font-size: 25px;
    padding-left: 137px;
    letter-spacing: 5px;
    margin-bottom: 70px;
    color: #707070;
    position: absolute;
    z-index: 5;
}


.he{
    width: 30%;
    left: 60%;
    top: 35%;
    position: absolute;
    z-index: 10;
}


.we{
    width: 30%;
    top: 65%;
    left: 60%;
    position: absolute;
    z-index: 10;
    margin-top: -10% !important;
}


.co{
    width: 30%;
    top: 85%;
    left: 60%;
    position: absolute;
    z-index: 10;
    margin-top: -15% !important;
}


.ha{
    width: 30%;
    top: 105%;
    left: 60%;
    position: absolute;
    z-index: 10;
    margin-top: -20% !important;
}

/* Health */

.backbtn2{
    width: 6%;
    position: absolute;
    margin-bottom: 10%;
    padding-bottom: 3%;
    z-index: 2;
    top: 91%;
    left: 8%;
}

.health h1{
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin-top: 60px !important;
    padding-left: 137px;
    letter-spacing: 10px;
    color: #707070;
    position: absolute;
    z-index: 5;
}

.health-one{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 150px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.health-two{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 780px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.health-three{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 1400px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

/* Wealth */

.backbtn3{
    width: 6%;
    position: absolute;
    margin-bottom: 10%;
    padding-bottom: 3%;
    z-index: 2;
    top: 91%;
    left: 8%;
}

.wealth h1{
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin-top: 60px !important;
    padding-left: 137px;
    letter-spacing: 10px;
    color: #707070;
    position: absolute;
    z-index: 5;
}

.wealth-one{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 150px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.wealth-two{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 780px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.wealth-three{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 1400px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

/* Happiness */

.backbtn4{
    width: 6%;
    position: absolute;
    margin-bottom: 10%;
    padding-bottom: 3%;
    z-index: 2;
    top: 91%;
    left: 8%;
}

.happiness h1{
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin-top: 60px !important;
    padding-left: 137px;
    letter-spacing: 10px;
    color: #707070;
    position: absolute;
    z-index: 5;
}

.happiness-one{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 150px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.happiness-two{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 780px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.happiness-three{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 1400px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

/* Confidence */

.backbtn5{
    width: 6%;
    position: absolute;
    margin-bottom: 10%;
    padding-bottom: 3%;
    z-index: 2;
    top: 91%;
    left: 8%;
}

.confidence h1{
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin-top: 60px !important;
    padding-left: 137px;
    letter-spacing: 10px;
    color: #707070;
    position: absolute;
    z-index: 5;
}

.confidence-one{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 150px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.confidence-two{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 780px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

.confidence-three{
    background-color: #707070;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    top: 35%;
    margin-left: 1400px;
    float: left;
    position: absolute;
    z-index: 12;
    color:white;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
}

/* WELCOME PAGE */

.explore h1{
    font-family: zooja-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin-top: 60px !important;
    padding-left: 137px;
    letter-spacing: 10px;
    color: #707070;
}

.explore h3{
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: -120px !important;
    font-size: 25px;
    padding-left: 300px;
    letter-spacing: 10px;
    margin-bottom: 70px;
    color: #707070;
}

.explore h2{
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    padding-left: 10px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    color: #707070;
}

.explore .topic1{
    padding-left: 137px;
    padding-top: 10px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    height: 130px;
    font-style: normal;
    background-color: #FEC5BB;
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 10px;
    color: #707070;

}

.explore .topic2{
    padding-left: 137px;
    padding-top: 10px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    height: 130px;
    font-style: normal;
    background-color: #FEC5BB;
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 10px;
    color: #707070;
}

.explore .topic3{
    padding-left: 137px;
    padding-top: 10px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    height: 130px;
    font-style: normal;
    background-color: #FEC5BB;
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 10px;
    color: #707070;
}

.explore .topic4{
    padding-left: 137px;
    padding-top: 10px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    height: 130px;
    font-style: normal;
    background-color: #FEC5BB;
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 10px;
    color: #707070;
}

.explore .topic5{
    padding-left: 137px;
    padding-top: 10px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    height: 130px;
    font-style: normal;
    background-color: #FEC5BB;
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 10px;
    color: #707070;
}

.explore .topic6{
    padding-left: 137px;
    padding-top: 10px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    height: 130px;
    font-style: normal;
    background-color: #FEC5BB;
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 10px;
    color: #707070;
}

.explore .topic7{
    padding-left: 137px;
    padding-top: 10px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    height: 130px;
    font-style: normal;
    background-color: #FEC5BB;
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 10px;
    color: #707070;
}

.explore .topic8{
    padding-left: 137px;
    padding-top: 10px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    height: 130px;
    font-style: normal;
    background-color: #FEC5BB;
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 10px;
    color: #707070;
}

.small9{
    width: 6%;
    position: absolute;
    z-index: 2;
    top: 185%;
    left: 38%;
}

.homebtn9{
    width: 6%;
    position: absolute;
    z-index: 2;
    top:  185%;
    left: 18%;
}

.songbtn9{
    width: 6%;
    position: absolute;
    z-index: 2;
    top:  185%;
    left: 28%;
}

.backbtn6{
    width: 6%;
    position: absolute;
    z-index: 2;
    top:  185%;
    left: 8%;
}

/* Dropdown Button */

.txted h1{
    text-align: center;
}
.dropbtn {
    background-color: #FEC5BB;
    color: #707070;
    padding: 40px;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #caa29a;
  }
  
  .dropdown {
    left: 42%;
    position: absolute;
    z-index: 10;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    /* position: absolute; */
    align-items: center;
    padding: 30px;
    background-color: #FEC5BB;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #707070;
    padding: 12px 16px;
    text-decoration: none;
    font-family: atten-new, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    display: block;
  }
  
  .dropdown a:hover {background-color: #caa29a;}
  
  .show {display: block;}

  .small10{
    width: 6%;
    position: absolute;
    z-index: 2;
    top: 92%;
    left: 38%;
}

.homebtn10{
    width: 6%;
    position: absolute;
    z-index: 2;
    top:  92%;
    left: 18%;
}

.songbtn10{
    width: 6%;
    position: absolute;
    z-index: 2;
    top:  92%;
    left: 28%;
}

.backbtn10{
    width: 6%;
    position: absolute;
    z-index: 2;
    top:  92%;
    left: 8%;
}
